<div id="<%= dom_id cashflow %>">
  <p>
    <strong>Title:</strong>
    <%= cashflow.title %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= cashflow.amount %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= cashflow.type %>
  </p>

</div>
